
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}
.container{
  margin:5%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
   padding-right: 3%;


   
}
.about{
 color:#666;
  font-size: 1.2em;
}
.about button{
 color:white;
 background-color: teal;
 border-style: none;
padding:2%;
border-radius:5px; 
}

/* Remove extra left and right margins, due to padding */


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;


  }
}

/* Style the counter cards */
.card {
  text-align: center;
  margin-bottom: 10%;
  text-align: justify;
}
.card2{
 
  text-align: center;
  margin-bottom: 10%;
  text-align: justify;
}
/* Float four columns side by side */
.column2{
  float: left;
  width: 33%;
  padding: 0 5px;
  cursor:pointer;
  padding-right: 3%;
}

/* Remove extra left and right margins, due to padding */


/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;

  }
}


/* Float four columns side by side */


/* Style the counter cards */
.card3 {

  padding: 0px;


}
.column3{
  float: left;
  width: 20%;
  padding: 0 4px;
  cursor:pointer;
}

/* Remove extra left and right margins, due to padding */


/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column3 {
    width: 20%;
    display: block;
  }
}

/* Style the counter cards */
.card3 {

  padding: 6px;
  text-align: center;
 margin-left: 20%;

}
.visited h3{
  font-size: 2em;
  color:teal;
}
.visited{
    margin-bottom: 10%;
}

@media screen and (max-width: 800px) {

.visited{
  margin-bottom: 25%;
     width: 100%;
    display: block;
}
}


.column4{
  float: left;
  width: 25%;
  padding: 0px;
  cursor:pointer;
  background-color:teal;
box-sizing:border-box;
}

@media screen and (max-width: 600px) {
  .column4 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding-left: 5%;

  }
}